@keyframes slide-left {
  0% {
    transform: translateX(150%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(200%);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-150%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(150%);
  }

  100% {
    transform: translateY(0%);
  }
}

$slide-right: slide-right 1.5s 0s both cubic-bezier(0.39,0.57,0.56,1);
$slide-left: slide-left 1.5s 0s both cubic-bezier(0.24,0.87,0.27,1.1);
$slide-down: slide-down 1s 0s both ease-in;
$slide-up: slide-up 1s 0s both ease-in;
