$lagoon-500: #89E5D3;
$lagoon-400: #9FFFEC;
$lagoon-300: #ABEDE0;
$lagoon-200: #D5F6F0;
$lagoon-100: #EAFAF7;

$rainforest-900: #002F33;
$rainforest-700: #184D52;
$rainforest-600: #005E66;
$rainforest-400: #0096A2;
$rainforest-300: #00BECC;
$rainforest-200: #8CADB0;

$green-600: #1F8B3E;
$green-300: #7CEA9C;
$green-200: #C5FFD6;

$yellow-600: #7D5B02;
$yellow-200: #FFECBC;

$purple-900: #1C133F;
$purple-700: #3E0DFF;
$purple-600: #492AC8;
$purple-500: #714EFF;
$purple-400: #B29FFF;
$purple-300: #D1C6FF;
$purple-200: #E6DFFF;
$purple-50: #F8F7FF;

$red-700: #850000;
$red-500: #D2423F;
$red-300: #EF6F6C;
$red-200: #FAADAC;

$black: #000000;
$grey-900: #0C0D0D;
$grey-800: #181A1B;
$grey-700: #3D4243;
$grey-500: #7A8485;
$grey-300: #BCC2C2;
$grey-200: #D7DADB;
$grey-50: #FAFAFA;

$white: #FFFFFF;
