.pages-thank_you {
  .ThankYouPage {
    background-image: asset-url('thank-you-space.svg');
    height: calc(100vh - 4rem);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: $breakpoint-md) {
      height: calc(100vh - 4.5rem);
    }

    &-text {
      text-transform: uppercase;
      font-size: 3rem;

      @media (min-width: $breakpoint-sm) {
        font-size: 5rem;
      }

      @media (min-width: $breakpoint-md) {
        font-size: 8rem;
      }
    }
  }
}
