<div class="Section Section--<%= background_color %>">
  <div class="container ShareholderPrefooter">
    <p class="ShareholderPrefooter-title">
      <%= text %>
    </p>

    <%= link_to link, class: cta_class do %>
      <%= cta.upcase %>
      <i class="material-icons">arrow_forward</i>
    <% end %>
  </div>
</div>
