.episodes-show {
  .Header {
    display: flex;
    align-items: start;

    &-icon {
      width: 4rem;
      height: auto;
      margin-right: 1rem;

      @media (min-width: $breakpoint-lg) {
        height: 5rem;
        margin-right: 3rem;
      }
    }

    &-title {
      margin-top: 0;
      margin-bottom: 1rem;
    }

    &-subtitle {
      color: $lagoon-100;
    }
  }

  .EpisodesList {
    margin-top: 2rem;
    position: relative;

    &-container {
      display: flex;
      overflow: scroll;
      scrollbar-width: none;
      scroll-snap-type: x proximity;
    }

    &-arrow {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 5rem;
      z-index: 2;
      display: flex;
      align-items: center;
      cursor: pointer;

      &--hidden {
        display: none;
      }

      &--visible {
        animation: fadeOut 0.3s reverse ease-in both;
      }

      &--back {
        left: 0;
        background: linear-gradient(90deg, $grey-800 40%, rgba(19, 20, 20, 0) 100%);
      }

      &--forward {
        right: 0;
        background: linear-gradient(270deg, $grey-800 40%, rgba(19, 20, 20, 0) 100%);
        justify-content: end;
      }
    }
  }

  .EpisodeCard {
    border: 1px solid $lagoon-500;
    width: 22rem;
    flex-shrink: 0;
    margin-right: 2rem;
    padding: 1rem;
    position: relative;
    text-transform: none;

    &:not(:first-child):not(:last-child) {
      scroll-snap-align: center;
    }

    &:first-child {
      scroll-snap-align: start;
    }

    &:last-child {
      scroll-snap-align: end;
    }

    .Base-title {
      margin-top: 0;
    }

    &-date {
      font-family: $headers-font;
      font-size: 1rem;
      margin-bottom: 0;
      color: $grey-200;
    }

    &-season {
      color: $grey-50;
    }

    &-number {
      color: $grey-200;
    }

    &-currentTag {
      position: absolute;
      bottom: 1rem;
      right: -0.5rem;
      background-color: $white;
      color: $black;
      padding: 0.3rem 0.5em;
      font-family: $headers-font;
      font-weight: bold;
      font-size: 0.8rem;
      text-transform: uppercase;
    }

    &-row {
      display: flex;
      align-items: start;
      justify-content: space-between;
    }

    &-button {
      display: block;
      border: 1px solid $grey-300;
      border-radius: 3px;
      font-family: $headers-font;
      font-weight: bold;
      font-size: 0.8rem;
      text-transform: uppercase;
      padding: 0.2rem 0.5rem;
      color: $grey-300;
    }

    &:hover {
      .EpisodeCard-button {
        color: $white;
        border-color: $white;
      }
    }

    &--showing {
      background-color: $lagoon-500;

      .EpisodeCard {
        &-season {
          color: $black;
        }

        &-number {
          color: $rainforest-700;
        }

        &-date {
          color: $rainforest-700;
        }

        &-button {
          display: none;
        }
      }
    }
  }

  .EpisodeHero {
    background: linear-gradient(180deg, $grey-800 0%, $black 50%);
    padding: 1rem 0 4rem 0;

    &-container {
      padding: 1rem 2rem 2rem 2rem;
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: linear-gradient(360deg, rgba(0, 0, 0, 0.8) 53.54%, rgba(0, 0, 0, 0.4) 100%);
      z-index: 1;
    }

    &-tag {
      display: inline-block;
      background-color: $lagoon-500;
      color: $black;
      font-family: $headers-font;
      font-weight: bold;
      text-transform: uppercase;
      padding: 0.2rem 0.5rem;
      margin-left: -1.5rem;

      @media (min-width: $breakpoint-sm) {
        margin-left: -2.5rem;
      }
    }

    &-content {
      position: relative;
      z-index: 2;
    }

    &-season {
      color: $white;
    }

    &-number {
      color: $lagoon-100;
    }

    &-title {
      color: $lagoon-100;
    }

    &-date {
      color: $lagoon-400;
    }

    &-description {
      color: $grey-50;
    }

    &-stats {
      margin-top: 4rem;
      display: flex;
      flex-direction: column;

      @media (min-width: $breakpoint-lg) {
        flex-direction: row;
        align-items: center;
      }

      .Button {
        @media (min-width: $breakpoint-lg) {
          margin-left: 2rem;
        }
      }

      @media (min-width: $breakpoint-lg) {
        margin-top: 7rem;
      }

      &--finished {
        color: $grey-300;
        font-family: $headers-font;
        font-size: 1.2rem;
      }
    }

    &-fundedInnovations {
      display: flex;
      align-items: center;

      em {
        font-family: $headers-font;
        font-weight: bold;
        font-style: normal;
        color: $lagoon-400;
      }
    }

    &-gradientNumber {
      font-size: 6rem;
      font-weight: bold;
      background-image: linear-gradient(180deg, $lagoon-100 0%, $rainforest-400 90%);
      background-size: 100%;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
      margin-right: 1rem;
    }

    &-totalRaised {

      @media (min-width: $breakpoint-lg) {
        margin-left: 4rem;
      }
    }

    &-raisingGoal {
      display: block;
      max-width: 14rem;

      em {
        font-weight: bold;
        font-style: normal;
        white-space: nowrap;
      }
    }
  }
}
