<div class="col-sm-6 col-xl-3">
  <div class="LeverCard" style='background-image: url("<%= asset_path(cover_image) %>");'>
    <div class="LeverCard-text">
      <h4 class="Base-title Base-title--4"><%= title %></h4>
      <p class="Base-text Base-text--lighter"><%= text %></p>
    </div>
  </div>
</div>
