<%= link_to link, target: "_blank", class: "ActionCard" do %>
  <%= embedded_svg icon, class: "ActionCard-icon" %>
  <p class="ActionCard-text">
    <%= text %>
  </p>
  <i class="material-icons ActionCard-arrow">
    arrow_forward
  </i>
<% end %>
