<nav class="BackNav BackNav--<%= modifier %>">
  <div class="container">
    <%= link_to path, class: 'Button BackNav-backButton' do %>
      <i class="material-icons">arrow_backward</i>
      <span>
        <%= anchor %>
      </span>
    <% end %>
  </div>
</nav>
