<div class="ShareholderAssetTooltip" id="role-tooltip-<%= role.id %>"
     data-tooltip-target="source">
  <div class="ShareholderAssetTooltip-name">
    <%= role.name.capitalize %>
  </div>
  <div class="ShareholderAssetTooltip-description">
    <%= asset_description_text_or_html(role.description) %>
  </div>
</div>
