<div class="ComingSoon">
  <div class="container">
    <h1 class="Base-title Base-title--1 Base-title--white"><%= raw t("error_pages.status_description.coming_soon") %></h1>
    <%= link_to root_path, class: "Button Button--white Button--underlined" do %>
      <%= raw t("error_pages.home_cta") %>
      <i class="material-icons">arrow_forward</i>
    <% end %>
    <div class="ComingSoon-illustration"></div>
  </div>
</div>


