<h1 class="Error-title"><%= raw t("error_pages.status.internal_error") %></h1>
<div class="Error-subtitle"><%= raw t("error_pages.status_description.internal_error") %></div>
<div class="Error-contact"><%= raw t("error_pages.contact") %></div>
