.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  row-gap: 1rem;

  span:not(:last-child) {
    margin-right: 2rem;
  }

  .page, .next, .last, .prev {

    &:hover {
      color: $rainforest-600;
    }
  }

  .current {
    color: $grey-500;
  }
}
